/* 상속, 겹침, 우선순위 */
/* 상속 */
.wrapper {
  color: green;
  border: 1px dotted blue;
}

/* #container p {
  color: teal;
} */

.wrapper {
  border: inherit;
}

p.ai {
  color: purple;
}

.ai.copilot {
  color: red;
}

p {
  color: gray;
}

p {
  color: orange;
}

p {
  color: pink !important;
}





/* 겹침 (상속) */
body {
  color: red;
}

/* 겹침, 우선선위(선택자) */