/* body {
  background-color: antiquewhite;
  text-align: center;
}

.card {
  background-color: white;
  padding: 100px;
  width: 500px;
  height: 500px;
}

.card img {
  background-color: white;
  width: 300px;
  height: 300px;
}

.card h1 {
}
.card p {
  color: #555;
} */
body {
  background-color: antiquewhite;
  font-family: 'SUIT Variable', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  padding: 20px;
  max-width: 320px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card h1 {
  font-size: 20px;
  margin: 20px 0 10px;
}

.card p {
  color: #555;
  font-size: 14px;
}
